= render 'latest'

.panel.panel-default
  .panel-body
    %h2 My Entries

    %table.table.table-striped.table-hover
      %thead
        %tr
          %th #
          %th Date
          %th Laboratory
          %th Remarks
          %th
      %tbody
        - @entries.each do |entry|
          %tr
            %td
            %td=link_to entry.created_at, entry
            %td
            %td
            %td